@font-face
	font-family: 'Proxima Nova'
	src: url('../fonts/Proxima-Nova-Light.otf')
	font-weight: 300
@font-face
	font-family: 'Proxima Nova'
	src: url('../fonts/Proxima-Nova-Regular.otf')
	font-weight: normal
@font-face
	font-family: 'Proxima Nova'
	src: url('../fonts/Proxima-Nova-Semibold.otf')
	font-weight: 600
@font-face
	font-family: 'Proxima Nova'
	src: url('../fonts/Proxima-Nova-Bold.otf')
	font-weight: bold
@font-face
	font-family: 'Proxima Nova'
	src: url('../fonts/Proxima-Nova-Extrabold.otf')
	font-weight: 800
@font-face
	font-family: 'Proxima Nova'
	src: url('../fonts/Proxima-Nova-Black.otf')
	font-weight: 900
@font-face
	font-family: 'Baseet'
	src: url('../fonts/29LTBaseet-Bold.OTF')
	font-weight: 700

@font-face
	font-family: 'Droid Arabic Kufi'
	src: url(../fonts/DroidKufi-Regular.eot)
	src: url(../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/DroidKufi-Regular.woff2) format('woff2'), url(../fonts/DroidKufi-Regular.woff) format('woff'), url(../fonts/DroidKufi-Regular.ttf) format('truetype')
	font-weight: 400