@import colors

$transition: .3s

body
	font-family: 'Proxima Nova', sans-serif
	font-weight: 300
	color: $color-body
	line-height: 1.38
	&:before 
		content: ''
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		transition: $transition
		background-color: $color-warning
		background-image: url(../img/logo-3.svg), url(../img/pace.svg)
		background-repeat: no-repeat
		background-position: center center, center bottom
		background-size: 400px, auto
		z-index: 9999
		@media (max-width: 991.98px)
			background-size: 200px, auto

main
	background-color: #fff 
	position: relative
	z-index: 2

.pace-container
	overflow: hidden
	opacity: 0
	visibility: hidden
	transition: $transition
.pace-done 
	&:before 
		opacity: 0
		visibility: hidden
	.pace-container
		opacity: 1
		visibility: visible

.pace
	pointer-events: none
	user-select: none
	&-inactive
		display: none
	&-progress
		position: fixed
		top: 0
		right: 100%
		width: 100%
		border-top: 3px solid #fff
		z-index: 99999

@import fonts

*
	outline: none !important

img
	max-width: 100%
	height: auto

a 
	color: $color-info
	transition: $transition
	&:hover
		color: $color-danger
		text-decoration: none

hr 	
	border-top-color: $color-hr
	margin: 0

.btn
	border-radius: 0
	padding: 13.5px 28px 13.5px 31px
	border: none
	position: relative
	text-transform: uppercase
	font-weight: bold
	box-shadow: none !important
	font-size: 17px
	span 
		vertical-align: middle
	&:before 
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		border: 1px solid transparent
		transition: $transition
		transform: translate(7px, 7px)
		z-index: -1
	&:after 
		content: ''
		display: inline-block
		font-size: 0
		width: 7px
		height: 12px
		background-size: cover
		margin-left: 22px
		vertical-align: middle
		transition: $transition
	&:hover 
		&:before 	
			transform: none
		&:after 
			transform: translateX(-5px)
	&:active
		&:after 
			transform: translateX(5px)
.btn-danger
	background: linear-gradient(to right, $color-danger, $color-warning)
	&:before 
		border-color: $color-warning
	&:after
		background-image: url(../img/arrow-white.svg)
	&.btn-sm
		background: $color-danger
.btn-light-danger
	color: $color-danger !important
	background: #fff
	&:before 
		border-color: #fff
	&:after
		background-image: url(../img/arrow-danger.svg)
.btn-light-primary
	color: $color-primary !important
	background: #fff
	&:before 
		border-color: #fff
	&:after
		background-image: url(../img/arrow-primary.svg)

@media (min-width: 1200px)
	.container
		max-width: 1200px

.row-1:not(.no-gutters)
	margin-left: -9px
	margin-right: -9px
	> [class*="col"]
		padding-left: 9px
		padding-right: 9px

.fz-90
	font-size: 90px
	line-height: 1
	@media (max-width: 1199.98px)
		font-size: 65px
	@media (max-width: 575.98px)
		font-size: 50px
.fz-80
	font-size: 80px
	line-height: 1
	@media (max-width: 1199.98px)
		font-size: 60px
	@media (max-width: 575.98px)
		font-size: 40px
.fz-70
	font-size: 70px
	line-height: 1
	@media (max-width: 1199.98px)
		font-size: 52px
	@media (max-width: 575.98px)
		font-size: 38px
.fz-60
	font-size: 60px
	line-height: 1
	@media (max-width: 1199.98px)
		font-size: 46px
	@media (max-width: 575.98px)
		font-size: 35px
.fz-45
	font-size: 45px
	line-height: 1.11
	@media (max-width: 1199.98px)
		font-size: 36px
	@media (max-width: 575.98px)
		font-size: 28px
.fz-40
	font-size: 40px
	line-height: 1.13
	@media (max-width: 1199.98px)
		font-size: 30px
	@media (max-width: 575.98px)
		font-size: 25px
.fz-33
	font-size: 33px
	@media (max-width: 1199.98px)
		font-size: 25px
	@media (max-width: 575.98px)
		font-size: 21px
.fz-30
	font-size: 30px
	line-height: 1.33
	@media (max-width: 1199.98px)
		font-size: 24px
	@media (max-width: 575.98px)
		font-size: 20px
.fz-25
	font-size: 25px
	line-height: 1.32
	@media (max-width: 1199.98px)
		font-size: 20px
	@media (max-width: 575.98px)
		font-size: 18px
.fz-22
	font-size: 22px
	line-height: 1.36
	@media (max-width: 1199.98px)
		font-size: 18px
	@media (max-width: 575.98px)
		font-size: 17px
.fz-20
	font-size: 20px
	line-height: 1.65
	@media (max-width: 1199.98px)
		font-size: 17px
	@media (max-width: 575.98px)
		font-size: 1rem
.fz-18
	@media (min-width: 576px)
		font-size: 18px
		line-height: 1.22
	@media (max-width: 575.98px)
		font-size: 14px
.fz-14
	font-size: 14px
.fz-13
	font-size: 13px
.fz-12
	font-size: 12px

.lh-15 
	line-height: 1.5
.lh-135
	line-height: 1.35

.mb-1em
	p 
		margin-bottom: 1em

.o-hidden
	overflow: hidden

.dropdown-menu
	border-radius: 0
	border: 0
.dropdown-item
	color: $color-body
	font-weight: inherit
	&.active, &:active
		background-color: $color-danger

.form-control
	font-weight: 300
	border-radius: 0
	height: auto
	&::-webkit-input-placeholder
		color: rgba(51, 51, 51, .54)
	&::-moz-placeholder
		color: rgba(51, 51, 51, .54)
	&:-ms-input-placeholder
		color: rgba(51, 51, 51, .54)
	&:-moz-placeholder
		color: rgba(51, 51, 51, .54)

.link 
	font-size: 17px
	font-weight: bold
	display: inline-block
	text-transform: uppercase
	margin-top: 77px
	> * 
		vertical-align: middle
	.fas
		font-size: 20px
		margin-left: 18px
		animation: rotate 5s infinite linear

@keyframes rotate
	100%
		transform: rotate(360deg)

.owl-carousel
	.owl-stage-outer
		cursor: ew-resize
	.owl-item img
		width: auto
	.owl-dots
		font-size: 0
		position: absolute
		margin: 0 -12.5px !important
		.owl-dot
			margin: 0 12.5px
			span 
				background: transparent !important
				width: 49px
				margin: 0
				height: 0
				border-bottom: 3px solid $color-dot
				transition: $transition
				border-radius: 0
				&:hover 	
					border-bottom-color: $color-danger
			&.active
				span 
					border-bottom-color: $color-danger

.navbar
	transition: $transition
	.navbar-brand
		max-width: 70%
		position: relative
		padding: 0
		margin-top: .3125rem
		margin-bottom: .3125rem
		img
			transition: $transition
			height: 51px
			&.logo-white
				opacity: 0
				position: absolute
				top: 0
				right: 0
				bottom: 0
				left: 0
	.navbar-collapse
		@media (max-width: 991.98px)
			padding: .5rem 0
	.nav-link
		color: inherit
		span
			display: block
			transition: transform $transition
		&:hover
			color: $color-warning
			span
				transform: translateY(-5px)
	&.navbar-bg
		background-color: #fff
		.navbar-brand
			img 
				opacity: 0
				&.logo-white
					opacity: 1
		.nav-link
			color: $color-body
	.nav-item
		&.active .nav-link
			font-weight: bold
			@media (max-width: 1199.98px)
				color: $color-danger
		&.dropdown
			.dropdown-menu
				display: block
				margin-top: 0
				transition: $transition
				@media (min-width: 992px)
					opacity: 0
					transform: translateY(10px)
					pointer-events: none
			&:hover 
				.dropdown-menu
					opacity: 1
					transform: none
					pointer-events: auto
	@media (min-width: 1200px)
		padding-top: 29px
		padding-bottom: 0
		.navbar-nav
			position: relative
			font-size: 17px
			padding-top: 10px
			&:after 	
				content: ''
				position: absolute
				top: 100%
				left: 0
				width: 1000px
				height: 8px
				background-image: linear-gradient(to right, $color-danger, $color-warning 30%, $color-info 67%, $color-primary)
			.nav-link
				padding: 1rem 0
				position: relative
				&:after 	
					content: ''
					position: absolute
					bottom: 0
					left: 50%
					transform: translateX(-50%)
					border-width: 6px 5px
					border-style: solid
					border-color: transparent
			.nav-item
				+ .nav-item
					margin-left: 43.5px
				&:nth-child(1)
					.nav-link
						&:hover 	
							color: #EB4E1A
					&.active
						.nav-link
							&:after
								border-bottom-color: #EB4E1A
				&:nth-child(2)
					.nav-link
						&:hover 	
							color: #F58817
					&.active
						.nav-link
							&:after
								border-bottom-color: #F58817
				&:nth-child(3)
					.nav-link
						&:hover 	
							color: #FFC509
					&.active
						.nav-link
							&:after
								border-bottom-color: #FFC509
				&:nth-child(4)
					.nav-link
						&:hover 	
							color: #D6C751
					&.active
						.nav-link
							&:after
								border-bottom-color: #D6C751
				&:nth-child(5)
					.nav-link
						&:hover 	
							color: #B7C774
					&.active
						.nav-link
							&:after
								border-bottom-color: #B7C774
				&:nth-child(6)
					.nav-link
						&:hover 	
							color: #91C89B
					&.active
						.nav-link
							&:after
								border-bottom-color: #91C89B
		&.navbar-bg
			padding-top: 0
			.navbar-brand
				img
					height: 42px
			.navbar-nav
				font-size: 15px
				.nav-link
					padding: 18px 0
				.nav-item
					+ .nav-item
						margin-left: 39px
					&:nth-child(1)
						.nav-link
							&:hover 	
								color: #eb4e1b
						&.active
							.nav-link
								&:after
									border-bottom-color: #eb4e1b
					&:nth-child(2)
						.nav-link
							&:hover 	
								color: #f48118
						&.active
							.nav-link
								&:after
									border-bottom-color: #f48118
					&:nth-child(3)
						.nav-link
							&:hover 	
								color: #fdb711
						&.active
							.nav-link
								&:after
									border-bottom-color: #fdb711
					&:nth-child(4)
						.nav-link
							&:hover 	
								color: #e7c63a
						&.active
							.nav-link
								&:after
									border-bottom-color: #e7c63a
					&:nth-child(5)
						.nav-link
							&:hover 	
								color: #cac75e
						&.active
							.nav-link
								&:after
									border-bottom-color: #cac75e
					&:nth-child(6)
						.nav-link
							&:hover 	
								color: #aac880
						&.active
							.nav-link
								&:after
									border-bottom-color: #aac880
	@media (max-width: 991.98px)
		background-color: #fff
		.navbar-brand
			img
				height: 42px
				opacity: 0
				&.logo-white
					opacity: 1
		.nav-link
			color: $color-body

.navbar-toggler
	display: inline-block
	cursor: pointer
	transition: $transition
	padding: 0
	border: 0
	&:before
		width: 38px
		animation-name: sandwich-1
	span
		width: 28px
		animation-name: sandwich-2
	&:after
		width: 18px
		animation-name: sandwich-3
	&:before, &:after
		content: ''
	span, &:after
		margin-top: 8px
	span, &:before, &:after
		display: block
		margin-left: auto
		transition: $transition
		transform-origin: right center
		height: 3px
		background-color: $color-body
		margin-left: auto
		animation-timing-function: linear
		animation-iteration-count: infinite
		animation-duration: 3s
	&:hover
		opacity: .8
	&.active
		&:before
			transform: rotate(-45deg)
			width: 32px
		span
			width: 0
			opacity: 0
		&:after
			transform: rotate(45deg)
			width: 32px
		span, &:before, &:after
			animation-name: none !important
@keyframes sandwich-1
	50%
		width: 18px
@keyframes sandwich-2
	25%
		width: 23px
	50%
		width: 28px
	75%
		width: 33px
@keyframes sandwich-3
	50%
		width: 38px

.main-header
	background-size: cover
	display: flex
	flex-direction: column
	min-height: 100vh
	> .container
		padding-top: 209px
		padding-bottom: 100px
		margin-top: auto
		margin-bottom: auto
	.heading-1
		text-shadow: 0 0 29px rgba(0, 0, 0, 0.55)
		padding-left: 35px
		position: relative
		&:before 
			content: ''
			position: absolute
			top: 0
			bottom: 0
			left: 0
			width: 10px
			background-image: linear-gradient(to top, $color-danger, $color-warning)
			opacity: 0
			transform: translateY(30px)
			transition: 1s
			transition-delay: .6s
			animation: pulse linear infinite 3s
		@media (max-width: 991.98px)
			padding-left: 20px
			&:before 
				width: 3px
	.first, .second
		opacity: 0
		transition: .5s
		transform: translateX(20px)
	.first	
		margin-bottom: 21px
		@media (min-width: 992px)
			line-height: .7
	.second 
		transition-delay: .4s
		@media (min-width: 992px)
			line-height: .8
@keyframes pulse
	50%
		top: -10px
		bottom: -10px

.header-1
	min-height: 500px
	> .container
		padding-bottom: 115px
		margin-bottom: 0
	@media (max-width: 575.98px)
		min-height: 400px
		> .container
			padding-bottom: 80px
	.heading-1
		@media (min-width: 992px)
			padding-left: 52px

.breadcrumb
	background-color: transparent
	padding: 0
	margin: 0
	color: #fff
	padding-top: 20px
	padding-left: 20px
	margin-bottom: -54px
	@media (min-width: 992px)
		padding-left: 52px
	@media (max-width: 1199.98px)
		margin-bottom: -46px
	@media (max-width: 575.98px)
		padding-top: 10px
		margin-bottom: -43px
	.breadcrumb-item + .breadcrumb-item:before
		content: ">"
		color: inherit
	*
		color: inherit !important
	a:hover 
		color: $color-warning !important

.pace-done
	.first, .second, .heading-1:before 
		opacity: 1
		transform: none

.section-1
	position: relative
	z-index: 2
	> img 
		position: absolute
		top: 8px
		right: -282px
		width: 848px
		z-index: -1
		@media (max-width: 991.98px)
			right: -100px
			width: 600px
	.img-wrap
		position: relative
		&:before
			content: ''
			position: absolute
			background-image: linear-gradient(94deg, $color-primary, #ee5826)
			top: -40px
			right: -40px
			left: 0
			height: 405px
			z-index: -1
			@media (max-width: 991.98px)
				height: 200px
			@media (max-width: 767.98px)
				top: -20px
				right: 0
	.block
		padding: 84px 74px 46px 63px
		background: $color-bg url(../img/quote.svg) no-repeat 39px 30px
		background-size: 118px
		animation: quote linear infinite 4s
		@media (max-width: 1499.98px)
			padding: 40px 30px 24px
		@media (max-width: 575.98px)
			padding: 30px 15px 12px
			background-position: 20px 20px
			background-size: 50px
@keyframes quote
	50%
		background-position: 49px 30px
@media (max-width: 575.98px)
	@keyframes quote
		50%
			background-position: 30px 20px

.section-2
	padding: 32px 0 10px
	@media (max-width: 991.98px)
		padding: 70px 0
	@media (min-width: 992px)
		.img 	
			max-width: initial
			height: 658px
	@media (min-width: 1200px)
		.container 
			position: relative
			&:before 
				content: ''
				position: absolute
				width: 175px
				height: 151px
				background-image: url(../img/scroll-1.svg)
				background-size: cover
				left: -280px
				top: 40%
				animation: anim-1 9s cubic-bezier(0.25, 0, 0.2, 1) infinite

.section-3
	.block
		padding: 110px 0 125px
		position: relative
		flex-grow: 1
		@media (max-width: 991.98px)
			padding: 70px 0
		&:before 
			content: ''
			position: absolute
			top: 0
			bottom: 0
			width: 50vw
			background-size: cover
			z-index: -1
			@media (max-width: 991.98px)
				width: 100vh
				left: 50% !important
				right: auto
				transform: translateX(-50%)
		.scroll
			height: 30px
			margin: 21.5px 0
			position: relative
			@media (max-width: 991.98px)
				height: 20px
				margin: 16px 0 20px
			&:before, &:after	
				content: ''
				display: block
				height: 100%
				border-left: 1px solid
				animation-duration: 3.5s
				animation-iteration-count: infinite
				animation-fill-mode: forwards
				animation-timing-function: cubic-bezier(0.25, 0, 0.25, 1)
			&:before
				transform-origin: 0 100%
				animation-name: scroll-1
			&:after	
				transform-origin: 0 0
				animation-name: scroll-2
				position: absolute
				top: 0
	.block-wrap
		display: flex
		flex-direction: column-reverse
		@media (min-width: 992px)
			&:before 
				content: ''
				display: block
				width: 90px
				height: 93px
				animation: width linear infinite 20s
		&:first-child
			&:before 
				background-color: $color-info
				@media (min-width: 992px)
					margin-left: auto
			> .block
				&:before 
					right: 0
					background-image: url(../img/bg-1.jpg)
				.scroll
					&:before, &:after	
						border-left-color: $color-warning
		&:last-child
			flex-direction: column
			&:before 
				background-color: $color-warning
			> .block
				&:before 
					left: 0
					background-image: url(../img/bg-2.jpg)
				.scroll
					&:before, &:after	
						border-left-color: $color-info
@keyframes scroll-1
	0%
		transform: translateY(0) scaleY(1)
	40%
		transform: translateY(10px) scaleY(0)
	to
		transform: translateY(10px) scaleY(0)
@keyframes scroll-2
	0%
		transform: translateY(-15px) scaleY(0)
	60%
		transform: translateY(-15px) scaleY(0)
	to
		transform: translateY(0) scaleY(1)
@keyframes width
	50%
		width: 180px

.section-4
	padding: 107px 0 82px
	@media (max-width: 1199.98px)
		padding: 70px 0
	.brands
		[class*="col"]
			padding-top: 14px
			padding-bottom: 14px
			+ [class*="col"]
				border-left: 1px solid $color-hr
			> div
				height: 100%
				display: flex
				flex-direction: column
				justify-content: center
	&:not(.not)
		@media (min-width: 1200px)
			.container:first-child
				position: relative
				&:before 
					content: ''
					position: absolute
					width: 87px
					height: 77.5px
					background-image: url(../img/scroll-2.svg)
					background-size: cover
					right: -250px
					top: 20%
					animation: anim-2 9.6s cubic-bezier(0.4, 0, 0.2, 1) infinite

.section-5
	position: relative
	padding: 113px 0 120px
	@media (max-width: 1199.98px)
		padding: 70px 0
	> img 	
		position: absolute
		width: 340px
		top: 175px
		right: 15px
	.owl-1
		.owl-wrap	
			align-items: flex-end
		&:nth-child(even)
			@media (min-width: 768px)
				.owl-dots
					right: 0
				.block
					margin-left: -118px
		&:nth-child(odd)
			margin-top: 55px
			.owl-wrap
				@media (min-width: 768px)
					flex-direction: row-reverse
					.block
						margin-right: -118px
		.owl-dots 
			bottom: 0
	.block
		margin-bottom: 70px
		@media (max-width: 1199.98px)
			margin-bottom: 40px
		// .owl-dots 
		// 	bottom: -70px
		// 	@media (max-width: 1199.98px)
		// 		bottom: -40px
		.slide
			position: relative
			padding: 56px 75px 41px 52px
			@media (max-width: 1199.98px)
				padding: 50px 30px 20px
			@media (max-width: 575.98px)
				padding: 45px 20px 10px
		.info
			position: absolute
			color: #fff
			font-size: 18px
			font-weight: bold
			text-transform: uppercase
			padding: 14.5px 23px
			margin-top: -27px
			min-width: 143px
			text-align: center
	@media (min-width: 1200px)
		&:before 
			content: ''
			position: absolute
			width: 219px
			height: 158px
			background-image: url(../img/scroll-3.svg)
			background-size: cover
			left: 20px
			top: 20%
			animation: anim-3 10s cubic-bezier(0.4, 0, 0.2, 1) infinite
		&:after 
			content: ''
			position: absolute
			width: 262.5px
			height: 226.5px
			background-image: url(../img/scroll-4.svg)
			background-size: cover
			right: -50px
			top: 65%
			animation: anim-4 40s infinite linear

.section-6
	padding: 110px 0 56px
	position: relative
	overflow: hidden
	@media (max-width: 1199.98px)
		padding: 70px 0 34px
	> span 	
		position: absolute
		top: 43%
		left: 50%
		transform: translateX(-50%)
		img 
			max-width: initial
	.block
		margin-top: 107px
		padding: 75px 15px 47px
		background-image: linear-gradient(to bottom, rgba(96, 45, 144, .5), rgba(96, 45, 144, .95)), url(../img/bg-5.jpg)
		background-size: cover
		position: relative
		z-index: 2
		@media (max-width: 1199.98px)
			margin-top: 54px
	@media (min-width: 1200px)
		&:before 
			content: ''
			position: absolute
			width: 175px
			height: 151px
			background-image: url(../img/scroll-5.svg)
			background-size: cover
			left: 100px
			top: -90px
			transform: rotate(-7deg)
			animation: anim-5 10s cubic-bezier(0.4, 0, 0.2, 1) infinite
		&:after 
			content: ''
			position: absolute
			width: 174px
			height: 155px
			background-image: url(../img/scroll-6.svg)
			background-size: cover
			right: 40px
			top: 70%
			animation: anim-6 10s cubic-bezier(0.4, 0, 0.2, 1) infinite

@keyframes anim-1
	50%
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
		transform: translate(44px, 17px)

@keyframes anim-2
	50%
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
		transform: translateY(25px) rotate(-53deg)

@keyframes anim-3
	65%
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
		transform: translateY(-48px) rotate(-75deg)

@keyframes anim-4
	100%
		transform: rotate(360deg)

@keyframes anim-5
	40%
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
		transform: translateY(40px) rotate(-1deg)

@keyframes anim-6
	40%
		transform: translateY(100px)

.card-my
	display: flex 
	flex-direction: column
	background-color: $color-bg-3
	height: 100%
	transition: 0s
	font-size: 17px
	color: inherit
	position: relative
	overflow: hidden
	.section-videos &
		transition: color $transition, background-color $transition
	.img-wrap
		overflow: hidden
		position: relative
		img
			transition: $transition
		.section-videos &
			&:before 
				content: '\f04b'
				font-family: "Font Awesome 5 Free"
				font-size: 30px
				font-weight: 900
				line-height: 1
				color: #fff
				position: absolute
				bottom: 5px
				left: 2px
				padding: 20px 18px 20px 25px
				min-width: 78px
				text-align: center
				border: 4px solid 
				border-color: transparent
				border-radius: 100px
				z-index: 9
				transition: bottom $transition $transition, left $transition $transition, border-color $transition
		&:after 	
			content: ''
			position: absolute
			right: 0
			bottom: 0
			left: 0
			.section-news &
				top: 0
				opacity: 0
				background-image: linear-gradient(to bottom, transparent, $color-primary 61%)
			.section-photos &
				top: 50%
				transition: $transition
				background-image: linear-gradient(to bottom, transparent, #000)
			.section-videos &
				top: 20%
				opacity: 0
				background-image: linear-gradient(to bottom, transparent, $color-info 73%)
	.card-my-body
		padding: 26px 31px 1px
		flex-grow: 1
		position: relative
		transition: margin-top $transition, padding-top $transition
		.section-news &
			background-color: $color-bg-3
		.section-photos &
			position: absolute
			right: 0
			bottom: 0
			left: 0
			color: #fff
			padding-bottom: 6px
		.section-videos &
			padding-bottom: 21px
		@media (max-width: 1199.98px)
			padding-left: 20px
			padding-right: 20px
		.fz-30
			transition: margin-bottom $transition
		.descr
			margin-bottom: 0
			height: 0
			overflow: hidden
			color: #cfc0de
			transition: height $transition, margin-bottom $transition
	&:hover 
		color: #fff
		.section-videos &
			background-color: $color-info
			.text-gray 
				color: #9af0e8 !important
		.img-wrap
			img 	
				transform: scale(1.1, 1.1)
				.section-videos &
					opacity: .35
			.section-videos &
				&:before 
					left: calc(50% - 78px/2)
					bottom: calc(50% - 78px/2)
					border-color: inherit
					transition: bottom $transition, left $transition, border-color $transition $transition
			&:after 
				.section-news &
					opacity: 1
				.section-photos &
					top: 20%
					background-image: linear-gradient(to bottom, transparent, $color-warning-2 73%)
				.section-videos &
					opacity: 1
		.card-my-body
			.section-news &
				margin-top: -81px
				background-color: $color-primary
				padding-top: 0
				@media (max-width: 767.98px)
					margin-top: -44px
				.text-gray
					color: #b895da !important
				.fz-30
					margin-bottom: 22px
				.descr
					height: 81px
					margin-bottom: 20px
					@media (max-width: 767.98px)
						height: 44px

.section-7
	position: relative
	padding-top: 56px
	@media (max-width: 1199.98px)
		padding-top: 35px
	> img 
		position: absolute
		width: 253px
		top: 46px
		left: 100px
		opacity: .4
	.img-wrap
		position: relative
		overflow: hidden
		img 	
			transition: $transition
		.text
			opacity: 0
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			display: flex
			flex-direction: column
			justify-content: flex-end
			padding: 20px 40px 40px
			transition: $transition
			background-image: linear-gradient(1deg, rgba(238, 88, 38, 1), rgba(255, 198, 11, .5)), linear-gradient(137deg, rgba(238, 88, 38, .5),  rgba(255, 198, 11, .5))
			@media (max-width: 1199.98px)
				padding: 15px
			> *
				transition: $transition
				transform: translateY(20px)
		&:hover 	
			img
				filter: grayscale(1)
				transform: scale(1.1, 1.1)
			.text
				opacity: 1
				> *
					transform: none

.section-8
	padding-bottom: 89px
	@media (max-width: 1199.98px)
		padding-bottom: 54px
	.block
		background-color: $color-bg-3
		border-left: 12px solid $color-primary
		padding: 41.5px 36px
		margin-top: -60px
		margin-bottom: 39px
		@media (max-width: 575.98px)
			padding: 20px 15px
			border-left-width: 5px

.socials
	li 
		margin-bottom: 18px
		a 
			color: inherit
			&:hover
				color: $color-primary
	@media (max-width: 767.98px)
		display: flex
		li 
			margin-bottom: 0
			margin-right: 18px

.section-9
	padding: 111px 0 84px
	position: relative
	overflow: hidden
	@media (max-width: 1199.98px)
		padding: 70px 0
	> img 
		position: absolute
		opacity: .12
		&.img-1
			top: 271px
			right: 237px
		&.img-2
			top: 529px
			right: -131px

.accordion
	.item
		+ .item
			border-top: 1px solid #e9e9e9
		a[data-toggle="collapse"]
			font-size: 20px
			display: block
			color: inherit
			position: relative
			padding: 15px 2rem 15px 0
			@media (min-width: 992px)
				font-size: 30px
			&:hover
				color: $color-primary
			&:after
				content: ""
				transition: .3s
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%) rotate(-90deg)
				width: 18px
				height: 11px
				background-image: url(../img/angle-right.svg)
				background-size: cover
			&[aria-expanded="true"]
				color: $color-primary
				@media (min-width: 576px)
					font-weight: bold
				&:after
					background-image: url(../img/angle-right-2.svg)
					transform: translateY(-50%)
		.collapse-wrap
			padding-bottom: 3px

.form-wrap
	position: relative
	margin-top: 40px
	margin-bottom: 90px
	@media (max-width: 991.98px)
		margin-top: 20px
		margin-bottom: 3rem
	.form-control
		font-size: 30px
		border: 2px solid $color-primary
		background-color: #f6f6f6
		padding: 20.5px 126px 20.5px 51px
		&:focus 
			box-shadow: 0 0 0 0.25rem rgba(96, 45, 145, .25)
		@media (max-width: 991.98px)
			font-size: 20px
			padding: 1rem 64px 1rem 22px
	.fas 
		font-size: 32px
		position: absolute
		border: 0
		background: none
		padding: 0
		right: 47px
		top: 50%
		transform: translateY(-50%)
		color: rgba(51, 51, 51, 0.32)
		transition: $transition
		&:hover
			color: $color-primary
		@media (max-width: 991.98px)
			font-size: 26px
			right: 22px

.section-10
	padding: 106px 0 121px
	@media (max-width: 1199.98px)
		padding: 70px 0

.section-11
	padding: 91px 0 144px
	@media (max-width: 1199.98px)
		padding: 70px 0
	.block
		font-size: 0
		position: relative
		direction: rtl
		margin-top: -113px
		.img-wrap
			position: relative
			display: inline-block
			img 
				max-width: none
			.play 
				width: 126px
				height: 126px
				position: absolute
				top: 50%
				left: 50%
				transform: translate(49%, -75%)
				background: url(../img/play.svg) no-repeat 55% center
				border: 5px solid #fff
				border-radius: 100px
				z-index: 9
				&:hover 
					opacity: .8
		.img-1
			position: absolute
			top: 87px
			left: 23px
			transform: rotate(27deg)
			width: 83px
		.img-2
			position: absolute
			bottom: 33px
			left: 23px
			transform: rotate(-29deg)
			width: 180px
	.fz-33 
		.font-weight-bold
			border-bottom: 1px solid

.section-11
	

.section-news
	position: relative
	> img 
		position: absolute
		right: 0
		bottom: 0

.section-photos
	.link 
		color: $color-warning-2
		&:hover 
			color: $color-danger

.nav-pills
	flex-wrap: nowrap
	white-space: nowrap
	overflow: auto
	font-size: 25px
	@media (max-width: 1199.98px)
		font-size: 20px
	@media (max-width: 575.98px)
		font-size: 18px
	.nav-link
		color: inherit
		border-radius: 0
		padding: 5.5px 23.5px
		&.active
			font-weight: bold
			.section-news &
				background-color: $color-primary
			.section-photos &
				background-color: $color-warning-2
			.section-videos &
				background-color: $color-info
		&:hover 
			opacity: .8

.page-footer
	color: $color-footer
	padding: 90px 0 21px
	background-color: #000
	@media (min-width: 768px)
		position: fixed
		bottom: 0
		left: 0
		right: 0
	.row:not(.no-gutters)
		margin-left: -15px
		margin-right: -15px
		> [class*="col"]
			padding-left: 15px
			padding-right: 15px
	ul 
		li 
			padding-bottom: 18px
			a 
				color: inherit
				&:hover 
					color: $color-info
	.footer-bottom
		margin-top: 21px
		padding-top: 28px
		border-top: 1px solid #3a3a3a
		.row:not(.no-gutters)
			margin-left: -11px
			margin-right: -11px
			> [class*="col"]
				padding-left: 11px
				padding-right: 11px
		a:not(:hover)
			color: #fff
	@media (max-width: 1199.98px)
		padding: 70px 0 32px
